body {
    margin: 1.5em 3em;
    font-family: CallunaSansRegular;
    font-size: 14px;
    background-color: #fffaf0;
}

h1, h2 {
    font-weight: normal;
    text-align: center;
}

h1 {
    font-size: 1.2em;
}

h2 {
    font-size: 2em;
}

h1 span {
    display: inline-block;
    width: 150px;
    text-align: center;
}

canvas {
    height: 300px;
    width: 300px;
    margin: 0 auto;
}

table {
    font-size: 1.1rem;
    border-collapse: collapse;
}

table.wide {
    width: 100%;
}

table.wide td {
    width: 99%;
}

th, td {
    padding: 0.5em;
    border-top: 1px solid #ddd;
    white-space: nowrap;
}

tr:first-child th, tr:first-child td {
    border-top: none;
}

tr + tr.sub th {
    border-top: none;
}

tr + tr.sub td {
    border-top: 1px solid #eee;
}

.note {
    font-size: 1rem;
    text-decoration: none;
    border-bottom: 1px dotted #ddd;
    color: #bbb !important;
    margin-left: 0.5rem;
}

th {
    font-weight: bold;
    text-align: left;
}

td {
    text-align: left;
}

tr.hidden span, tr.hidden .num {
    text-decoration: line-through;
    font-style: italic;
    color: #aaa;
}

td.colour {
    width: 1px !important;
    padding: 0;
}

td.colour + td.colour {
    border-left: 1px solid #ddd;
}

td.colour span {
    display: block;
    width: 10px;
}

td.good, td.bad {
    text-align: center;
}

td.left {
    text-align: left;
}

td.right {
    text-align: right;
}

.good {
    color: #7AAD28;
}

.bad {
    color: #E2381F;
}

div {
    box-sizing: border-box;
    padding: 0 3em;
    margin: 0.5em;
}

.container {
    display: flex;
    flex: auto;
    justify-content: center;
    width: 100%;
}

.container > div {
    flex-grow: 1;
}

.container > div.wide {
    flex-grow: 2;
    padding: 0;
    margin: 0;
}

.container > div + div {
    border-left: 1px solid #ddd;
}

.container .noborder {
    border: none;
}

#assets_balances_legend, #assets_tags_legend {
    font-size: 0.9rem !important;
}

#assets_balances_legend .sub td {
    font-size: 0.8rem !important;
}

#assets_tags_legend_container, #assets_balances_legend_container {
    display: flex;
    align-items: center;
    margin-right: 0;
    padding-right: 0;
}

#assets_tags_legend_container {
    justify-content: flex-end;
}

#assets_balances_legend_container {
    justify-content: flex-start;
}

#assets_historical_chart_container, #assets_cashflow_chart_container {
    display: none;
    padding: 0;
    margin: 0;
}

#assets_historical_chart_container {
    flex-grow: 5;
}

#history {
    width: 60%;
    margin: 0 auto;
}

#history p {
    text-align: center;
    font-size: 1.1rem;
}

.highcharts-container {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'CallunaSansRegular';
    src: url('CallunaSansRegular-webfont.woff2') format('woff2'),
         url('CallunaSansRegular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
