body {
    padding: 1em 3em 0 0;
    margin: 0 0 0 250px;
    font-family: CallunaSansRegular;
    font-size: 14px;
    background-color: #fffaf0;
}

header {
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: 'Noto Serif';
    font-weight: normal;
    text-align: center;
}

h1 {
    font-size: 1em;
}

h2 {
    font-size: 1.6em;
    margin-bottom: 0.7rem;
    padding-bottom: 0;
}

h1 span {
    display: inline-block;
    width: 150px;
    text-align: center;
}

canvas {
    height: 300px;
    width: 300px;
    margin: 0 auto;
}

table {
    font-size: 1rem;
    border-collapse: collapse;
}

table.wide {
    width: 100%;
}

table.wide td {
    width: 99%;
}

th, td {
    padding: 0.5em;
    border-top: 1px solid #ddd;
    white-space: nowrap;
}

tr:first-child th, tr:first-child td {
    border-top: none;
}

tr + tr.sub th {
    border-top: none;
}

tr + tr.sub td {
    border-top: 1px solid #eee;
}

table.tooltip {
    font-size: 0.7rem;
}

table.tooltip td {
    padding: 0.2em 0.3em;
    border: none;
}

.note {
    font-size: 1rem;
    text-decoration: none;
    border-bottom: 1px dotted #ddd;
    color: #bbb !important;
    margin-left: 0.5rem;
}

th {
    font-weight: bold;
    text-align: left;
}

.bsheet th {
    text-align: center;
    font-family: 'Noto Serif';
    font-size: 0.7rem;
}

tfoot {
    background-color: #f8f3e9;
    font-style: italic;
    font-size: 0.8rem;
}

p.emphasis {
    display: block;
    text-align: center;
    font-size: 1.5rem;
}

td {
    text-align: left;
}

tr.hidden span, tr.hidden .num {
    text-decoration: line-through;
    font-style: italic;
    color: #aaa;
}

td.colour {
    width: 1px !important;
    padding: 0;
}

td.colour + td.colour {
    border-left: 1px solid #ddd;
}

td.colour span {
    display: block;
    width: 10px;
}

td.good, td.bad {
    text-align: center;
}

.good {
    color: #7AAD28;
}

.bad {
    color: #E2381F;
}

.virtual {
    font-style: italic;
}

.left {
    text-align: left !important;
}

.right {
    text-align: right !important;
}

div {
    box-sizing: border-box;
    padding: 0 0.5em;
    margin: 0.5em 0;
}

.container {
    display: flex;
    flex: auto;
    justify-content: center;
    width: 100%;
}

.container > div {
    flex-grow: 1;
}

.container > div.wide {
    flex-grow: 2;
    padding: 0;
    margin: 0;
}

.container > div + div {
    border-left: 1px solid #ddd;
}

.noborder {
    border: none !important;
}

.fullwidth {
    padding: 0;
    margin: 0;
}

#historical_chart_container {
    flex-grow: 5;
}

#history_container {
    width: 60%;
    margin: 0 auto;
}

#history_container p {
    text-align: center;
    font-size: 1.1rem;
}

.highcharts-container {
    margin: 0;
    padding: 0;
}

.claustrophobic {
    margin-top: 3rem;
}

/* **** sidebar ************************************************************ */

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    padding: 1em;
    box-sizing: border-box;
    margin: 0;
    background-color: #f9f9f9;
    border: 1px solid #eee;
    border-radius: 0 0 5px 0;
}

#sidebar hr {
    clear: both;
    margin: 20px 0;
    size: 0;
    border: none;
}

#sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#sidebar nav li {
    display: block;
    width: 100%;
    text-align: center;
}

#sidebar nav a {
    text-transform: lowercase;
    color: #7790BF !important;
    text-decoration: none;
    font-weight: bold;
}

#sidebar nav a:hover {
    text-decoration: underline;
    color: #BF9077 !important;
}

#sidebar ul.kv span {
    display: inline-block;
}

#sidebar ul.kv span.key {
    font-weight: bold;
    width: 150px;
}

#sidebar_chart_container {
    margin: 0;
    padding: 0;
}


/* **** webfonts *********************************************************** */

@font-face {
    font-family: 'CallunaSansRegular';
    src: url('CallunaSansRegular-webfont.woff2') format('woff2'),
         url('CallunaSansRegular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Serif'), local('NotoSerif'), url('NotoSerifRegular-webfont.woff2') format('woff2');
}
